body {
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
    background-color:honeydew;
  }

.game{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

  
}
.gamestatus {
    /* background-color:lightblue;
    font-style: italic;
    color: white; */
    margin-bottom: 20px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
    
}