body {
  margin: 20px;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}
#root {
  text-align: center;
}
.info {
  display: flex;
  justify-content: center;

}
.game-info {
  margin-bottom: 20px;
  background: #19a0d9;
  padding: 7px;
  text-align: center;
  color: #fff;
  border-radius: 7px;
  font-family: cursive;
  /* display: block; */
  font-size: larger;
}
.cell-all {
  display: flex;
  flex-wrap: wrap;
  width: 413px;
}


   


